# requirements.txt          for dependency installation via conda
# docs/environment.yml      for dependency installation via conda and create a new environment
# docs/ports.txt            for dependency installation via mac-ports
# setup.py                  for mintpy     installation via pip after the dependency installation above
# docs/requirements4rtd.txt for readthedocs, which uses pip with limited memory usage
python=3.9.16
pip=23.0.1
cartopy=0.21.1
cvxopt=1.3.0
dask=2023.3.1
dask-jobqueue=0.8.1
defusedxml=0.7.1
gdal=3.6.2   # for ISCE, ARIA, FRInGE, HyP3, GMTSAR users
h5py=3.8.0
joblib=1.2.0
lxml=4.9.2
matplotlib=3.7.0
numpy=1.23.5
#pre-commit    # for developers
pyaps3=0.3.6
pykml=0.2.0
pyproj=3.4.1
pyresample=1.26.1
pysolid=0.2.3
rich=13.3.1
scikit-image=0.19.3
scipy=1.9.3
#isce2=2.6.2
opencv=4.7.0
shapely=2.0.1
Cython
pybind11
